.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tg {
  border-collapse: collapse;
  table-layout: fixed;
}

.tg thead {
  background-color: #166eeb;
  display: block;
  width: 100%;
}

.tg tbody {
  height: 314px;
  width: 100%;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.tg td {
  padding: 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.tg th {
  padding: 10px 0px 10px 10px;
  color: white;
}

.tg th:nth-child(2) {
  padding-left: 39px;
}

.tg tr:hover {
  background-color: #ddd;
}
